rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // TEMPORAIRE : Permettre à tout le monde (pour tester)
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
